<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h1>URL shortner Project</h1>
        <form action="/short" method="POST">
            <label for="longurl">Enter Long URL:</label>
            <input type="text" id="longurl" name="longurl" required>
            <button type="submit">Shorten</button>
        </form>
        <% if(shortUrl){%>
            <p>Short URL:- <a href="<%= shortUrl%>" target="_blank">
            <%=shortUrl%>
            </p><% } %>
    </div>
</body>
</html>